{% extends 'base.html.twig' %}

{% block cuerpo %}
    <h2>Cambio de contraseña</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger">Cambiar contraseña</button>
    <a class="btn btn-primary" href="{{ path('portada') }}">Volver</a>
    {{ form_end(form) }}
{% endblock %}

