{% extends 'base.html.twig' %}

{% block cuerpo %}

    {% for libro in libros %}
        <p>Titulo: {{ libro.titulo }} <br> Fecha Publicacion: {{ libro.anioPublicacion | date("d/m/y") }} Editorial: {{ libro.editorial.nombre }}</p>
    {% endfor %}
{% endblock %}
